a {
    text-emphasis: none;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.main {
    margin-top: 10px;
    margin-left: 24%;
    width: 70%;
}
.page_title{
    margin:0 auto;
    text-align: center;
    text-decoration: underline;
}
.main img {
    width: 250px;
    height: 150px;
    margin-left: 15px;
}
.row {
    margin: 0 auto;
    margin-left: -100px;
}
.social_sticky{
    position: fixed;
}
.tickets{
    position: fixed;
    margin-left: 94%;
    margin-top: 120px;
}
.footer {
    margin-top: 10px;
}
.divider {
    margin:0 auto;
    height: 2px;
    width: 80%;
    background-color: grey;
}
.footer_info{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}
.sound_icon_container{
    float: right;
}